<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119935421507-2od4ks04gqvqrfet61rjmv2kkv00ip0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119935421507-2od4ks04gqvqrfet61rjmv2kkv00ip0g</string>
	<key>API_KEY</key>
	<string>AIzaSyDWvSHo1VPGGd90qo6EzFrWy8e4EFhiDx4</string>
	<key>GCM_SENDER_ID</key>
	<string>119935421507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lookforward.app</string>
	<key>PROJECT_ID</key>
	<string>lookforward-f200c</string>
	<key>STORAGE_BUCKET</key>
	<string>lookforward-f200c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119935421507:ios:5757ce468c0c85991618f6</string>
	<key>DATABASE_URL</key>
	<string>https://lookforward-f200c.firebaseio.com</string>
</dict>
</plist>